<div class="files-container" *ngIf="files$ | async as files">
  <clr-accordion [clrAccordionMultiPanel]="true">
    <ng-container>
      <clr-accordion-panel *ngFor="let item of files">
        <clr-accordion-title>
          <span class="attached-file-name">{{ item?.name }}</span><span class="attached-file-download">
          </span>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <embed [class]="item?.isImageRessource ? 'var-width-embeded-ressource' : 'embeded-ressource'"
            *ngIf="!item?.showldownload" [type]="item?.type" [src]="item?.content | safeRessourceContent">
          <div class="button-container"
            *ngIf="typeHelper.isDefined(item?.name) && typeHelper.isDefined(item?.content) && item?.showldownload">
            <button class="btn btn-sm btn-outline-primary" [disabled]="performingAction"
              (click)="fileHelper.saveDataURLAsBlob(item?.content, item?.name)">
              <clr-icon shape="download-cloud"></clr-icon> Télécharger le fichier
            </button>
          </div>
        </clr-accordion-content>
      </clr-accordion-panel>
    </ng-container>
  </clr-accordion>
</div>
