<main class="content-area">
    <app-page-title [title]="'Mon compte'"></app-page-title>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Informations personnelles
                    </div>
                    <div class="card-text">
                        <table class="table table-vertical">
                            <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ connectedUser?.userInfo?.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Prénoms</th>
                                    <td>{{ connectedUser?.userInfo?.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td>{{ connectedUser?.userInfo?.email }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ connectedUser?.userInfo?.phoneNumber }}</td>
                                </tr>

                                <tr *ngIf="false">
                                    <th>Poste</th>
                                    <td>Consultant</td>
                                </tr>
                                <tr>
                                    <th>Département</th>
                                    <td>
                                        <!-- {{ connectedUser?.userInfo?.departmentID }} -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            NB : Les informations ci-dessus ne sont pas modifiables car sont liées à votre profil système. Pour solliciter une modification, Veuillez adresser une requête aux administrateurs du système.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <!-- <a (click)="$event.preventDefault()" routerLinkActive="active" class="nav-link">Demander une modification</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Sécurisation de votre compte
                    </div>
                    <div class="card-text">
                        <app-alert *ngIf="alertProperties.showAlert" [alertType]="alertProperties.type" [alertMessage]="actionUiMessage" [showIcon]="true"></app-alert>
                        <form clrForm class="clr-form-compact" clrLayout="horizontal" [formGroup]="passwordUpdateFormGroup" (ngSubmit)="onFormSubmitted($event)">
                            <div class="clr-form-control">
                                <label>Nouveau mot de passe</label>
                                <div class="clr-control-container">
                                    <div class="clr-input-wrapper password-clr-input-wrapper">
                                        <input class="clr-input" type="password" formControlName="password" required />
                                    </div>
                                    <clr-control-helper>
                                        Utilisez entre 8 (minimum) et 20 (maximum) caractères, dont au moins un des éléments suivants : caractère spécial, minuscule, majuscule et chiffre. Les exigences relatives au mot de passe ne sont pas respectées
                                    </clr-control-helper>
                                    <clr-control-error class="field-has-error" *ngIf="
                      passwordUpdateFormGroup.controls['password'].hasError(
                        'required'
                      ) && passwordUpdateFormGroup.controls['password'].touched
                    "><span [translate]="'validation.required'"></span
                  ></clr-control-error>
                  <clr-control-error
                    class="field-has-error"
                    *ngIf="
                      passwordUpdateFormGroup.controls['password'].hasError(
                        'minLength'
                      ) && passwordUpdateFormGroup.controls['password'].touched
                    "
                    ><span
                      [translate]="'validation.minValue'"
                      [translateParams]="{ value: 6 }"
                    ></span
                  ></clr-control-error>
                  <clr-control-error
                    class="field-has-error"
                    *ngIf="
                      passwordUpdateFormGroup.controls['password'].hasError(
                        'pattern'
                      ) && passwordUpdateFormGroup.controls['password'].touched
                    "
                    ><span [translate]="'validation.passwordPattern'"></span
                  ></clr-control-error>
                </div>
              </div>
              <div class="clr-form-control">
                <label>Répétez mot de passe</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper password-clr-input-wrapper">
                    <input
                      class="clr-input"
                      type="password"
                      formControlName="password_confirmation"
                      required
                    />
                    <clr-control-helper
                      >Repetez le nouveau mot de passe</clr-control-helper
                    >
                    <clr-control-error
                      class="field-has-error"
                      *ngIf="
                        passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].hasError('required') &&
                        passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].touched
                      "
                      ><span [translate]="'validation.required'"></span
                    ></clr-control-error>
                    <clr-control-error
                      class="field-has-error"
                      *ngIf="
                        passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].hasError('minLength') &&
                        passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].touched
                      "
                      ><span
                        [translate]="'validation.minValue'"
                        [translateParams]="{ value: 6 }"
                      ></span
                    ></clr-control-error>
                    <clr-control-error
                      class="field-has-error"
                      *ngIf="
                        passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].hasError('pattern') &&
                        passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].touched
                      "
                      ><span [translate]="'validation.passwordPattern'"></span
                    ></clr-control-error>
                    <clr-control-error
                      class="field-has-error"
                      *ngIf="passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].hasError('Match') && passwordUpdateFormGroup.controls[
                          'password_confirmation'
                        ].touched"
                      ><span [translate]="'validation.passwordMatch'"></span
                    ></clr-control-error>
                  </div>
                </div>
              </div>
              <div class="button-container top-32">
                <div class="clr-row">
                  <div class="clr-col-6 clr-offset-2">
                    <button
                      class="btn btn-sm btn-outline-primary"
                      type="submit"
                    >
                      Modifier mon mot de passe
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<nav class="sidenav" [clr-nav-level]="2">
  <app-admin-default-sidebar></app-admin-default-sidebar>
</nav>