a:link,.clr-input-group .clr-input-group-icon-action{
  color: var(--sedana-main-color);
}
.main-container .content-container .content-area{
  padding: 1rem;
}
.section.first-section {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.section-title.align-center {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
}

.login-wrapper{
  background: var(--sedana-main-color);
}