clr-header.header-app {
  // background: white;
  position: relative;
  z-index: 999999999;
    form {
      // background:var(--flat-clouds);
      // color: var(--sedana-dark-text-color);
      // border-left: 1px solid var(--flat-clouds);

      input#search_input{
        color: var(--sedana-light-text-color);

        &:focus {
          color: #000;
        }
      }
    }

    .header-nav {
      a.btn{
        // background: transparent;
        // color: var(--sedana-dark-text-color);
        border: none;
        &:hover{
            // color: var(--sedana-main-color);
        }
      }
    }
    .settings>.dropdown>.dropdown-toggle, .header-actions>.dropdown>.dropdown-toggle, .settings>.dropdown>.dropdown-toggle, .header-actions>.dropdown>.dropdown-toggle{
      // color: var(--sedana-main-color);
    }

    .search label {
      padding-left: 0.6rem;
      &::before{
        // background-color:var(--sedana-main-color);
        border-radius: 54%;
        padding: 0.5rem;
      }
    }
  }


  .sub-navigation{
    font-weight: 300;
    // color: #fff;
    padding: 0.2rem 0.1rem 0;
    // box-shadow: 2px 4px 8px -2px var(--flat-asbestos);
    position: relative;
    z-index: 9999;
    // background:var(--sedana-main-color);

    .sub-nav,
    .subnav{
      // background-color: var(--sedana-main-color);
      a, .nav-link{
        // color:var(--flat-clouds);

        &:hover, &.active{
          // box-shadow:0 -.15rem 0 var(--sedana-alt-color) inset;
        }
      }
    }
  }
