
/* .modal-header {
    border-bottom: none;
    padding: 1rem;
    background: #f1f1f1;
}

.modal-footer {
}

.modal-body {
    padding: 0rem 1rem !important;
}

.modal-dialog .modal-content {
    padding: 0;
}

.modal-title span.title-desc {
    font-size: 14px !important;
} */

/* Start latest styles */
.modal-header, .modal-header--accessible {
  background: #f1f1f1;
}

/* .modal-footer {
} */

.modal-body {
  padding: 0rem 1rem !important;
}

.modal-dialog .modal-content {
  padding: 0 !important;
}

.modal-footer, .modal-header, .modal-header--accessible {
padding: 1.2rem 1.2rem 1.2rem 1.2rem !important;
}

.modal-title span.title-desc {
  font-size: 14px !important;
}
