<!-- <nav class="subnav">
  <ul class="nav">
    <ng-container *ngFor="let item of routesMap">
      <li class="nav-item">
        <clr-dropdown *ngIf="isDefined(item.children)">
          <a class="nav-link" clrDropdownTrigger routerLinkActive="active">
            {{ getRouteLinkFromMap(item.key)?.routeDescription }}
            <clr-icon shape="caret down"></clr-icon>
          </a>
          <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            <ng-container
              *ngFor="let child of getRouteLinkFromMap(item.key).children"
            >
              <a [routerLink]="child.routePath" clrDropdownItem
                >{{ child.routeDescription }}
              </a>
            </ng-container>
          </clr-dropdown-menu>
        </clr-dropdown>
        <a
          *ngIf="!isDefined(item.children)"
          [routerLink]="getRouteLinkFromMap(item.key)?.routePath"
          routerLinkActive="active"
          class="nav-link"
        >
          {{ getRouteLinkFromMap(item.key)?.routeDescription }}
        </a>
      </li>
    </ng-container>
  </ul>
</nav> -->

<section class="sidenav-content">
    <section class="nav-group collapsible">
        <ng-container *ngIf="routesMap">
            <clr-tree-node *ngFor="let item of routesMap" [clrExpanded]="isDefined(item.children)">
                <strong>{{ getRouteLinkFromMap(item.key)?.routeDescription }}</strong>
                <clr-tree-node *ngFor="let child of getRouteLinkFromMap(item.key).children">
                    <a [routerLink]="child.routePath" class="clr-treenode-link">
            {{ child.routeDescription }}
          </a>
                </clr-tree-node>
            </clr-tree-node>
        </ng-container>
        <!-- </section>
        <section class="sidenav-content">
            <section class="nav-group collapsible">
                <input id="users-menu" type="checkbox" />
                <label for="users-menu">Utilisateurs & groupes</label>
                <ul class="nav-list">
                    <li>
                        <a [routerLink]="'/admin/users/adduser'" routerLinkActive="active" class="nav-link">Ajouter un utilisateur</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/admin/users/listusers'"
            routerLinkActive="active"
            class="nav-link"
            >Liste des utilisateurs</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/admin/users/roles'"
            routerLinkActive="active"
            class="nav-link"
            >Roles & Permissions</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/admin/users/roles/addrole'"
            routerLinkActive="active"
            class="nav-link"
            >Ajouter un rôle</a
          >
        </li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="forms-menu" type="checkbox" />
      <label for="forms-menu">Gestion des formulaires</label>
      <ul class="nav-list">
        <li>
          <a
            [routerLink]="'/admin/forms'"
            routerLinkActive="active"
            class="nav-link"
            >Liste des formulaires</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/admin/forms/newform'"
            routerLinkActive="active"
            class="nav-link"
            >Créer un formulaire</a
          >
        </li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="modules-menu" type="checkbox" />
      <label for="modules-menu">Gestion des modules</label>
      <ul class="nav-list">
        <li>
          <a
            [routerLink]="'/admin/modules'"
            routerLinkActive="active"
            class="nav-link"
            >Liste des modules</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/admin/modules/addmodule'"
            routerLinkActive="active"
            class="nav-link"
            >Ajouter un nouveau module</a
          >
        </li>
      </ul>
    </section>
  </section>
  <div class="divider"></div>
  <section class="sidenav-content">
    <section class="nav-group collapsible">
      <input id="users-menu" type="checkbox" />
      <label for="users-menu">Enregistrement</label>
      <ul class="nav-list">
        <li><a class="nav-link">Demandes d'immatriculation</a></li>
                    <li><a class="nav-link">Immatriculer un travailleur indépendant</a></li>
                    <li>
                        <a class="nav-link">Immatriculer des travailleurs de l'économie informelle</a
          >
        </li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="users-menu" type="checkbox" />
      <label for="users-menu">Structures</label>
      <ul class="nav-list">
        <li><a class="nav-link">Liste des structures</a></li>
                    <li><a class="nav-link">Ajouter une Nouvelle structure</a></li>
                </ul>
            </section> -->
    </section>
</section>