<section class="sidenav-content">
    <section class="nav-group collapsible">
        <ng-container *ngIf="routesMap">
            <clr-tree-node *ngFor="let item of routesMap" [clrExpanded]="isDefined(item.children)">
                <strong>{{ getRouteLinkFromMap(item.key)?.routeDescription }}</strong>
                <clr-tree-node *ngFor="let child of getRouteLinkFromMap(item.key).children">
                    <ng-container *ngIf="auth.user.canAny(child.routePermission)">
                        <a [routerLink]="child.routePath" class="clr-treenode-link">{{ child.routeDescription }}</a>
                    </ng-container>
                </clr-tree-node>
            </clr-tree-node>
        </ng-container>
    </section>
</section>
