<clr-dropdown #clrDropdown>
    <button [disabled]="performingAction || buttonDisabled" type="button" [class]="triggerButtonClass" clrDropdownTrigger>
  <clr-icon shape="assign-user"></clr-icon> Assigner le traitement
</button>
    <clr-dropdown-menu clrPosition="bottom-left" class="clr-dropdown-menu" *clrIfOpen>
        <cdk-virtual-scroll-viewport class="users-viewport" itemSize="20">
            <button *cdkVirtualFor="let item of users" type="button" clrDropdownItem (click)="onUserSelected(item)">
      <span class="p3">{{ item?.username }}</span>
    </button>
        </cdk-virtual-scroll-viewport>
    </clr-dropdown-menu>
</clr-dropdown>
