<ng-container *ngIf="state$ | async as vm">
  <clr-alert
    [clrAlertType]="'danger'"
    [clrAlertClosable]="false"
    [clrAlertAppLevel]="true"
    *ngIf="!vm?.online"
  >
    <clr-alert-item>
      <span class="alert-text">
        <span>
          {{ offlineText | translate }}
        </span>
      </span>
    </clr-alert-item>
  </clr-alert>
  <clr-alert
    [clrAlertType]="'success'"
    [clrAlertAppLevel]="true"
    *ngIf="vm?.online && vm?.wasOffline && !vm?.hidden"
  >
    <clr-alert-item>
      <span class="alert-text">
        {{ onlineText | translate }}
      </span>
    </clr-alert-item>
  </clr-alert>
</ng-container>
