<clr-header class="header">
  <div class="branding">
    <a class="nav-link" [routerLink]="dashboardRoute" rel="noopener" routerLinkActive="active">
      <span class="title app-logo">{{ applicationName }}</span>
    </a>
    <span class="module_name title"> {{ moduleName }}</span>
  </div>
  <div class="header-nav hide-for-print">
    <ng-container *ngFor="let item of routesMap">
      <a [routerLink]="getRouteLinkFromMap(item.key)?.routePath" routerLinkActive="active" class="nav-link nav-text">{{
        getRouteLinkFromMap(item.key)?.routeDescription }}</a>
    </ng-container>
  </div>
  <div class="header-actions hide-for-print">
  </div>
</clr-header>
