<clr-header class="header header-5">
    <div class="branding">
        <a class="nav-link" [routerLink]="dashboardRoute" rel="noopener" routerLinkActive="active">
            <clr-icon shape="coin-bag" role="none"> </clr-icon>
            <span class="title">{{ applicationName }}</span></a>
        <span class="module_name title"> {{ moduleName }}</span>
    </div>
    <div class="header-nav">
        <ng-container *ngFor="let item of routesMap">
            <a [routerLink]="getRouteLinkFromMap(item.key)?.routePath" routerLinkActive="active" class="nav-link nav-text">{{ getRouteLinkFromMap(item.key)?.routeDescription }}</a
      >
    </ng-container>
    <!-- <a [routerLink]="'users'" routerLinkActive="active" class="nav-link nav-text">Utilisateur</a> -->
    </div>
    <!-- <form class="search">
        <label for="search_input">
      <input
        id="search_input"
        type="text"
        placeholder="Rechercher un élément..."
      />
    </label>
    </form> -->
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
        <clr-icon shape="user"></clr-icon> {{ connectUser.username }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a [routerLink]="profileRoute" clrDropdownItem *ngIf="true">Mon Profil</a>
                <a href="..." clrDropdownItem *ngIf="false">Preferences</a>
                <a (click)="actionLogout($event)" clrDropdownItem>Se Déconnecter</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <!-- Add modules loader -->
        <app-application-modules></app-application-modules>
    </div>
</clr-header>