.branding {
  background: #ffffff;
}
.title {
  padding: 0 16px;
  &.module_name{
    background: #033258;
    color: #ffbc48;
    box-shadow: 4px 0px 6px -3px #000000bd;
  }
}
.header .branding, header .branding {
  padding: 0 0 0 1rem;
}


clr-header.header {
  box-shadow: 2px 2px 12px -4px #999;
}

.app-logo{
  width: 20%;
}

