.post-content-container{
    padding: 0;
    .card {
        border: none;
        // background-color: var(--flat-white);
        box-shadow: none;
        margin-top: 0;
        // border-bottom: 1px solid var(--flat-silver);
    }
}

.card{
    // border: 1px solid var(--flat-clouds);
    box-shadow: none;

    .card-header {
        border-bottom: none;
        box-shadow: none;
    }

    .card-footer {
        padding: 0.7rem 1rem;
        // background: #ececec;
        // background: #f1f1f1;
    }

    &.color-card{
        // background-color: var(--sedana-main-color);
        color: var(--sedana-light-text-color);

        .card-header,
        .card-title,
        .card-text{
            color: var(--sedana-light-text-color);
        }

        &.red{
            // background-color: var(--flat-alizarin);
        }

        &.green{
            // background-color: var(--flat-nephritis);
        }

        .table{
            // background-color: transparent;
            td,th{
                // background-color: transparent;
                // color: var(--sedana-light-text-color);
            }
        }
    }
  &.big-card {
      min-height: 240px;


      .big-icon {
        text-align: center;
        clr-icon{
          // color: var(--liksoft-cnss-yellow-color);
        }
        &:hover{
          // background-color: var(--liksoft-cnss-yellow-color);
          clr-icon{
            // color: var(--flat-white);
          }
        }
      }
  }

}
