<ng-container *ngIf="modules$ | async as modules">
  <clr-dropdown>
    <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
      <clr-icon shape="grid-view" size="lg"></clr-icon>
    </button>
    <clr-dropdown-menu class="modules-menu" *clrIfOpen clrPosition="bottom-right">
        <ng-container>
          <div class="modules-container">
            <ul class="modules-list">
                <li class="elewou-module" *ngFor="let item of modules">
                    <a [href]="item?.url" target="_blank">
                      <span class="item-logo">
                        <img class="module-icon" src="{{ item.iconPath }}" width="16" height="16" />
                      </span>
                      <!-- <clr-icon shape="pop-out"></clr-icon> -->
                      <span class="item-name">{{ item.name }}</span>
                    </a>
                </li>
            </ul>
          </div>
        </ng-container>
    </clr-dropdown-menu>
  </clr-dropdown>
</ng-container>
