<div class="btn-group">
  <button type="button" [disabled]="createButtonDisabled" class="btn btn-sm btn-outline" (click)="createEvent.emit({})">
    <clr-icon shape="plus-circle"></clr-icon> Ajouter
  </button>
  <button type="button" [disabled]="refreshButtonDisabled" [class]="buttonClass" (click)="refreshEvent.emit({})">
    <clr-icon shape="refresh"></clr-icon> Actualiser
  </button>
  <!-- Other datagrid header components -->
  <ng-content></ng-content>
  <!-- Ends Other datagrid header components -->
  <clr-dropdown *ngIf="showExportDropdown">
    <button type="button" [disabled]="excelDropDownDisabled" [class]="buttonClass" clrDropdownTrigger>
      Exporter
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
      <button type="button" (click)="exportToExcelEvent.emit({})" clrDropdownItem>Exporter les
        données</button>
    </clr-dropdown-menu>
  </clr-dropdown>