<clr-header class="header">
  <div class="branding">
    <span class="module_name title">{{ moduleName }}</span>
    <span class="module_name title">{{ companyName }}</span>
  </div>
  <div class="header-actions hide-for-print" *ngIf="state$ | async as state">
    <div class="user-state" *ngIf="!state?.isGuess">
      <span class="top-hint">Connecté en tant que : </span>
      <span class="user-name connected"><cds-icon shape="circle" solid></cds-icon> {{ state?.username }}</span>
    </div>
    <div class="user-actions">
      <a (click)="actionLogout($event)" class="btn lik-btn primary-btn">
        <clr-icon shape="logout"></clr-icon>
      </a>
    </div>
  </div>
</clr-header>
